/* CSS styles for the website */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.social-icon  {
  padding: 10px;
  float: left;
  cursor: pointer;
}
header {
  background-color: #f2f2f2;
  padding: 20px;
  height: 10px;
  text-align: center;
  
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.logo{
  position: relative;
  right: 100px;
  width: 100px;
  color: #8b8b8b;
  padding: 3px;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  
}

nav ul li {
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h1 {
  color: #333;
  text-align: right;
  font-size: 30px;
}
h2, h3{
  color: #333;
  text-align: center;
  
}
p{
  text-align: center;
}

.Home .swiper-container {
  width: 50%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.Home .swiper-slide {
  width: 30rem;
  height: 50rem;
}

.Home .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

#features {
  background-color: #f2f2f2;
  padding: 50px 0;
}



h2 {
  font-size: 25px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.feature-box {
   margin:1rem;
  border-radius: .5rem;
  text-align: center;
  background:rgba(237, 23, 111,.05);
  padding:1rem;
  flex:1 1 30rem;
  cursor: pointer;

}

.feature-box:hover {
  transform: translateY(-5px);
}

.feature-box img {
  width: 80px;
  margin-bottom: 20px;
}

.feature-box h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.feature-box p {
  font-size: 16px;
  color: #666;
}



#about {
  background-color: #f2f2f2;
  padding: 50px 0;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 25px;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
}

 .row{
  display: flex;
  align-items: center;
  background-color: #CACACA;
  
}

 .row .divider{
  padding:0 1rem;

}

 .row .box-container .box{
  padding:1rem 1;
  text-align: center;
}

 .row .box-container .box i{
  color:var(--black);
  padding:1rem 1;
  font-size: 4.5rem;
}

 .row .box-container .box h3{
  color:var(--black);
  font-size: 1.5rem;
}

 .row .box-container .box p{
  color:black;
  padding:1rem 1;
  font-size: 1.3rem;
}

.row .box-container:first-child{
  text-align: center;
}

#about {
  background-color: #f2f2f2;
  padding: 50px 0;
}

h2 {
  font-size: 25px;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.about-text {
  flex: 1;
  text-align: left;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  max-width: 100%;
}

#helpdesk-support {
  background-color:#555;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-size: 25px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.helpdesk-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.helpdesk-text {
  flex: 1;
  text-align: left;
}

.helpdesk-image {
  flex: 1;
  text-align: center;
}

.helpdesk-image img {
  max-width: 100%;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-box {
  flex: 1;
  max-width: 300px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.contact-box:hover {
  transform: translateY(-5px);
}

.contact-box img {
  width: 80px;
  margin-bottom: 20px;
}

.contact-box h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.contact-box p {
  font-size: 16px;
  color: #666;
}

.highlight {
  color: #007bff;
}




#reviews {
  background-color: #f2f2f2;
  padding: 50px 0;
}



h2 {
  font-size: 25px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.review {
  max-width: 500px;
  margin: 0 auto 30px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.review img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.review h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.review p {
  font-size: 16px;
  color: #666;
}

#pricing {
  background-color: #f2f2f2;
  padding: 50px 0;
}


h2 {
  font-size: 25px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.pricing-box {
  max-width: 600px;
  margin: 0 auto 30px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 90px;
  transition: all 0.3s ease;
  display: inline-block;
  align-items: center;

}

.pricing-box:hover {
  transform: translateY(-5px);
}

.pricing-box h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.price {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.currency {
  font-size: 18px;
}

.amount {
  font-weight: bold;
}

.period {
  font-size: 18px;
}

.features {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
}

.features li {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}


#clients {
  background-color: #f2f2f2;
  padding: 50px 0;
}

h2 {
  font-size: 25px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.client-box {
  max-width: 150px;
  margin: 0 auto;
  justify-content: center;
  padding: 70px;
  background-color:#CACACA;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  display: inline-block;
  
}

.client-box img {
  max-width: 100%;
  height: auto;
}

.client-box:last-child {
  margin-bottom: 0;
}


.container{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
   background-color:white;
  column-gap: 30px;
}
.form{
  position: absolute;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background:#FFF;
}
.form.signup{
  opacity: 0;
  pointer-events: none;
}
.forms.show-signup .form.signup{
  opacity: 1;
  pointer-events: auto;
}
.forms.show-signup .form.login{
  opacity: 0;
  pointer-events: none;
}
form{
  margin-top: 30px;
}
.form .field{
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}
.field input,
.field button{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}
.field input{
  outline: none;
  padding: 0 15px;
  border: 1px solid#CACACA;
}
.field input:focus{
  border-bottom-width: 2px;
}
.eye-icon{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}
.field button{
  color: #fff;
  background-color:#555;
  transition: all 0.3s ease;
  cursor: pointer;
}
.field button:hover{
  background-color: #232836;
}
.form-link{
  text-align: center;
  margin-top: 10px;
}
.form-link span,
.form-link a{
  font-size: 14px;
  font-weight: 400;
  color: #232836;
}
.form a{
  color:black;
  text-decoration: none;
}
.form-content a:hover{
  text-decoration: underline;
}
.line{
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}
.line::before{
  content: 'Or';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  color: #8b8b8b;
  padding: 0 15px;
}
.media-options a{
  display: flex;
  align-items: center;
  justify-content: center;
}
a.facebook{
  color: #fff;
  background-color: #4267b2;
}
a.facebook .facebook-icon{
  height: 28px;
  width: 28px;
  color: #0171d3;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.facebook-icon,
img.google-img{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
img.google-img{
  height: 20px;
  width: 20px;
  object-fit: cover;
}
a.google{
  border: 1px solid #CACACA;
}
a.google span{
  font-weight: 500;
  opacity: 0.6;
  color: #232836;
}
@media screen and (max-width: 400px) {
  .form{
      padding: 20px 10px;
  }
  
}

footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex-basis: 30%;
}

.footer-column h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
  
}

.footer-column p {
  color: white;
  margin-bottom: 20px;
  margin-left: 10px;
}

.footer-column ul li {
  margin-bottom: 10px;
  margin-left: 70px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.contact-info{
  cursor: pointer;
}
.Download-icons{
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.Download-icons li {
  margin-right: 10px;
}
.Download-icons li a {
  color: #fff;
  text-decoration: none;
}
.social-icons {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
}

.footer-bottom p {
  font-size: 14px;
  color: white;
}